
- if @restaurants.any?
  - @restaurants.each do |restaurant|
    %h2= link_to restaurant.name, restaurant_path(restaurant)
    %p= restaurant.description
    - restaurant.reviews.each do |review|
      %p= review.thoughts
    - if @user
      - if @user.restaurants.include?(restaurant)
        %p= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)
        %p= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete
      - unless @user.has_reviewed?(restaurant)
        %p= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)
- else
  %h1 No restaurants yet!

= link_to 'Add a restaurant', new_restaurant_path
