- if @review.errors.any?
  %section#errors
    %h2
      = pluralize @review.errors.count, 'error'
      prohibited this restaurant from being saved:
    %ul
      - @review.errors.full_messages.each do |message|
        %li= message

= form_for [@restaurant, @review] do |f|
  = f.label :thoughts
  = f.text_area :thoughts
  = f.label :rating
  = f.select :rating, (1..5)
  = f.submit 'Leave review'
